osx_image: xcode10.2
language: swift
os: osx
xcode_project: Minichallenge3.xcworkspace
xcode_scheme: Minichallenge3
xcode_destination: platform=iOS Simulator,OS=12.2,name=iPhone 8
notifications:
  slack: academyifce:CLlMQdEiXi2cg97KwIAauAQq
  email: false
