language: objective-c
osx_image: xcode10.1

env:
  - LC_CTYPE=en_US.UTF-8 LANG=en_US.UTF-8
before_install:
  - rvm install ruby-2.2.2
  - gem install cocoapods
  - gem install xcpretty -N
  - brew update
  - brew install swiftlint || true
script:
  - set -o pipefail
  - xcodebuild -workspace Gigsterous.xcworkspace -scheme Gigsterous -sdk iphonesimulator ONLY_ACTIVE_ARCH=NO | xcpretty -c
  - swiftlint

#language: swift
#before_install: pod install
#xcode_project: Minichallenge3.xcodeproj
#xcode_scheme: Minichallenge3Tests
#xcode_destination: platform=iOS Simulator,OS=12.1,name=iPhone 8
notifications:
  #slack: academyifce:CLlMQdEiXi2cg97KwIAauAQq
  email: false
