language:
  - swift
osx_image: xcode10.1
script:
  - xcodebuild -scheme Minichallenge3 -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone X,OS=12.1' build test

#language: swift
#before_install: pod install
#xcode_project: Minichallenge3.xcodeproj
#xcode_scheme: Minichallenge3Tests
#xcode_destination: platform=iOS Simulator,OS=12.1,name=iPhone 8
notifications:
  #slack: academyifce:CLlMQdEiXi2cg97KwIAauAQq
  email: false
