language: objective-c
osx_image: xcode10.1

env:
  - LC_CTYPE=en_US.UTF-8 LANG=en_US.UTF-8

script:
  - set -o pipefail
#  - xcodebuild -workspace Minichallenge3.xcworkspace -scheme Minichallenge3 -sdk iphonesimulator ONLY_ACTIVE_ARCH=NO | xcpretty -c
  - fastlane tests
#language: swift
#before_install: pod install
xcode_project: Minichallenge3.xcodeproj
xcode_scheme: Minichallenge3Tests
xcode_destination: platform=iOS Simulator,OS=12.1,name=iPhone 8
notifications:
  #slack: academyifce:CLlMQdEiXi2cg97KwIAauAQq
  email: false
