language: objective-c
osx_image: xcode10.2

env:
  - LC_CTYPE=en_US.UTF-8 LANG=en_US.UTF-8
#  - encrypt MATCH_PASSWORD=password --add
#install:
#  - bundle install
script:
  - set -o pipefail
  - fastlane tests
#  - fastlane beta
#  - bundle exec fastlane tests
  - fastlane run_tests
xcode_project: Minichallenge3.xcworkspace
xcode_scheme: Minichallenge3Tests
xcode_destination: platform=iOS Simulator,OS=12.1,name=iPhone 8
#script:
#after_install: 
 # - fastlane tests
notifications:
  #slack: academyifce:CLlMQdEiXi2cg97KwIAauAQq
  email: false
