language: objective-c
osx_image: xcode10.1

env:
  - LC_CTYPE=en_US.UTF-8 LANG=en_US.UTF-8
install:
  - bundle install
script:
  - set -o pipefail
#  - fastlane beta
  - ./fastlane/travis.sh
xcode_project: Minichallenge3.xcworkspace
xcode_scheme: Minichallenge3Tests
xcode_destination: platform=iOS Simulator,OS=12.1,name=iPhone 8
#script: 
 # - fastlane tests
notifications:
  #slack: academyifce:CLlMQdEiXi2cg97KwIAauAQq
  email: false
