language: objective-c
osx_image: xcode10.2

env:
  - LC_CTYPE=en_US.UTF-8 LANG=en_US.UTF-8

script:
  - set -o pipefail
  - fastlane tests
branches:
  only:
  - master
xcode_project: Minichallenge3.xcworkspace
xcode_scheme: Minichallenge3Tests
xcode_destination: platform=iOS Simulator,OS=12.1,name=iPhone 8

notifications:
  slack: academyifce:CLlMQdEiXi2cg97KwIAauAQq
  email: false
