language: swift
xcode_workspace: Minichallenge3.xcworkspace # path to your xcodeproj folder
xcode_scheme: Minichallenge3
xcode_destination: platform=iOS Simulator,OS=10.1,name=iPad Pro (9.7-inch)

#language: swift
#before_install: pod install
#xcode_project: Minichallenge3.xcodeproj
#xcode_scheme: Minichallenge3Tests
#xcode_destination: platform=iOS Simulator,OS=12.1,name=iPhone 8
notifications:
  #slack: academyifce:CLlMQdEiXi2cg97KwIAauAQq
  email: false
