language: objective-c  #1
osx_image: xcode6.4 #2
xcode_project: Minichallenge3.xcworkspace #3
xcode_scheme: Minichallenge3 #4
xcode_sdk: iphonesimulator8.4 #5

#language: swift
#before_install: pod install
#xcode_project: Minichallenge3.xcodeproj
#xcode_scheme: Minichallenge3Tests
#xcode_destination: platform=iOS Simulator,OS=12.1,name=iPhone 8
notifications:
  #slack: academyifce:CLlMQdEiXi2cg97KwIAauAQq
  email: false
